.header .navbar-brand a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.collection-section.catalog__grid .products-grid {
  gap: 60px 4px;
}

.deliver .block .box .delivery__button{
  padding: 12px 12px !important;
  background-color: #fff;
  color: #000;
  width: 120px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.wishlist-btn, .cart-btn{
  position: relative;
}
.wishlist-btn::after,
.cart-btn::after{
  content: '';
  position: absolute;
  bottom: 8px;
  right: 5px;
  width: 8px;
  height: 8px;
  background-color: #91BE17;
  border-radius: 50%;
  display: none;
}
.wishlist-btn.active::after,
.cart-btn.active::after{
  display: block;
}
